#post-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-left: 40px;
    grid-row-gap: 30px;
}

.all-posts {
    padding: 50px 50px 50px 50px;
    text-align: center;
}

.carousel-caption {
    background-color: black;
    height: 120px;
    opacity: 0.8;
    color: white;
    bottom: 10%;
    font-weight: 100;
    letter-spacing: 1px;
}

h1 {
    font-weight: 200;
    opacity: 1;
    letter-spacing: 1px;
}

form {
    margin: 30px auto;
    width: 30%;
}

.card-buttons-container {
    position: absolute;
    bottom: 30px;
    left: 30px;
}

@keyframes shake {
    0% { transform: translate(0px, 0px) rotate(0deg); font-size: 1.1rem; color: rgb(0, 0, 0)}
    10% { transform: translate(0px, 0px) rotate(2deg); font-size: 1.3rem; color: rgb(6, 77, 0)}
    20% { transform: translate(0px, 0px) rotate(-4deg); font-size: 1.6rem; color: rgb(0, 139, 7)}
    30% { transform: translate(0px, 0px) rotate(6deg); font-size: 2rem; color: rgb(17, 200, 0)}
    40% { transform: translate(0px, 0px) rotate(-8deg); font-size: 2rem; color: rgb(17, 200, 0)}
    50% { transform: translate(0px, 0px) rotate(6deg); font-size: 1.6rem; color: rgb(17, 200, 0)}
    60% { transform: translate(0px, 0px) rotate(-4deg); font-size: 1.3rem; color: rgb(0, 139, 7)}
    70% { transform: translate(0px, 0px) rotate(2deg); font-size: 1.1rem; color: rgb(6, 77, 0)}
    80% { transform: translate(0px, 0px) rotate(0deg); font-size: 1rem; color: rgb(0, 0, 0)}
}


